/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0efef;
}

header {
  margin-left: 20%;
}

a {
  text-decoration: none;
}

.global-stat {
  position: relative;
  margin-left: 3rem;
  padding: 1rem;
  font-weight: 400;
  margin-top: 5%;
}

.coin-overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  text-align: left;
  padding: 3rem;
}

.coin-overview div {
  padding: 1rem;
}

.coin-overview h3 {
  font-weight: 400;
  color: grey;
  margin-bottom: 1rem;
}

.coin-overview h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.top-coins {
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-weight: 400;
}

.sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #040024;
}

.sidebar .mobile-navbar {
  background-color: #040024;
  height: 100%;
  width: 100%;
}

.sidebar .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}

.sidebar .menu-items li {
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
  margin-left: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.sidebar .menu-items li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #3686fd;
  cursor: pointer;
}

.sidebar .menu-items svg {
  margin-left: 1rem;
  margin-right: 1.5rem;
  position: relative;
  top: 0.5rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #040024;
  padding: 2rem;
}

.logo h1 {
  position: relative;
  color: #ffffff;
  font-size: 2.5em;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.x-menu {
  display: none;
}

.x-menu:hover {
  cursor: pointer;
}

main {
  margin-left: 20%;
  background-color: #f0efef;
}

.crypto-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  row-gap: 5rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.crypto-grid div {
  width: 21rem;
  height: 18rem;
  margin: 0 auto;
  background-color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 1rem;
}

.crypto-grid div h3 {
  font-weight: 400;
  position: relative;
  padding: 5%;
  border-bottom: 1px solid #e7e7e7;
}

.crypto-grid div img {
  height: 3rem;
  position: relative;
  top: -22%;
  float: right;
}

.crypto-grid div p {
  padding: 1rem;
  position: relative;
  top: 10%;
  font-size: 1rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem;
}

.button .show-more {
  outline: none;
  text-decoration: none;
  padding: 10px 24px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.button .show-more:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  background-color: rgba(4, 0, 36, 0.781);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 2550px) {
  .crypto-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 1900px) {
  .crypto-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 1500px) {
  header {
    margin-left: 0;
    margin-top: 8%;
  }
  main {
    margin-left: 0;
  }
  .global-stat {
    margin-left: 3rem;
  }
  .top-coins {
    margin-left: 4rem;
  }
  .crypto-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 3rem;
  }
  .sidebar {
    height: 5%;
    width: 100vw;
    position: fixed;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .sidebar .mobile-navbar {
    width: 100vw;
    height: 100%;
    background-color: #040024;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .sidebar .mobile-navbar ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .sidebar .mobile-navbar ul li {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .sidebar .mobile-navbar ul svg {
    height: 32px;
    width: 32px;
  }
  .nav--hidden {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
  .logo .eth-logo {
    display: block;
    height: 50px;
  }
  .logo .hamburger-menu {
    display: block;
    margin-right: 1rem;
  }
  .logo .x-menu {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 1170px) {
  main {
    margin-left: 0;
  }
  header {
    margin-top: 10%;
  }
  .crypto-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 3rem;
  }
  .nav--hidden {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }
}

@media only screen and (max-width: 845px) {
  .global-stat {
    text-align: center;
    margin-left: 0;
  }
  .coin-overview {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .top-coins {
    text-align: center;
    margin-left: 0;
  }
  main {
    margin-left: 0;
  }
  header {
    margin-top: 30%;
  }
  .crypto-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 5rem;
  }
  .sidebar .mobile-navbar ul {
    text-align: left;
  }
  .sidebar .mobile-navbar ul li {
    font-size: 1.2rem;
    margin: 1rem;
  }
  .no-scroll--hidden {
    overflow: hidden;
  }
  .nav--hidden {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */