/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  // overscroll-behavior: none;
}

body {
  background-color: rgb(240, 239, 239);
}

header {
  margin-left: 20%;
}

a {
  text-decoration: none;
}

//index.html

.global-stat {
  position: relative;

  margin-left: 3rem;
  padding: 1rem;
  font-weight: 400;
  margin-top: 5%;
}

.coin-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  text-align: left;
  padding: 3rem;

  div {
    padding: 1rem;
  }
  h3 {
    font-weight: 400;
    color: grey;
    margin-bottom: 1rem;
  }
  h1 {
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.top-coins {
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-weight: 400;
}

.sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgb(4, 0, 36);
  .mobile-navbar {
    background-color: rgb(4, 0, 36);
    height: 100%;
    width: 100%;
    // transition: all ease 0.3s;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    li {
      color: white;
      font-size: 1.2rem;
      // line-height: 2.5;
      padding: 1rem;
      margin: 1rem;
      margin-left: 0;
      text-decoration: none;
      list-style-type: none;
      transition: all ease 0.4s;
    }
    li:hover {
      transform: scale(1.05);
      background-color: rgb(54, 134, 253);
      cursor: pointer;
    }
    svg {
      margin-left: 1rem;
      margin-right: 1.5rem;
      position: relative;
      top: 0.5rem;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 0, 36);
  padding: 2rem;
  h1 {
    position: relative;
    color: #ffffff;
    font-size: 2.5em;
  }
}

.hamburger-menu {
  display: none;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.x-menu {
  display: none;
}
.x-menu:hover {
  cursor: pointer;
}

main {
  margin-left: 20%;
  background-color: rgb(240, 239, 239);
}

.crypto-grid {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  row-gap: 5rem;
  grid-template-columns: (1fr 1fr 1fr 1fr 1fr);
  div {
    width: 21rem;
    height: 18rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 1rem;
    h3 {
      font-weight: 400;
      position: relative;
      padding: 5%;
      border-bottom: 1px solid rgb(231, 231, 231);
    }
    img {
      height: 3rem;
      position: relative;
      top: -22%;
      float: right;
    }
    p {
      padding: 1rem;
      position: relative;
      top: 10%;
      font-size: 1rem;
    }
  }
}

.button {
  display: flex;
  margin: 5rem;
  .show-more {
    outline: none;
    text-decoration: none;
    padding: 10px 24px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    transition: all ease 0.2s;
  }
  .show-more:hover {
    transform: scale(0.97);
    background-color: rgba(4, 0, 36, 0.781);
    color: white;
    cursor: pointer;
  }
}

@media only screen and (max-width: 2550px) {
  .crypto-grid {
    grid-template-columns: (1fr 1fr 1fr 1fr);
    justify-content: center;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 1900px) {
  .crypto-grid {
    grid-template-columns: (1fr 1fr 1fr);
    justify-content: center;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 1500px) {
  header {
    margin-left: 0;
    margin-top: 8%;
  }
  main {
    margin-left: 0;
  }

  .global-stat {
    margin-left: 3rem;
  }
  .top-coins {
    margin-left: 4rem;
  }
  .crypto-grid {
    grid-template-columns: (1fr 1fr 1fr);
    justify-content: center;
    row-gap: 3rem;
  }
  .sidebar {
    height: 5%;
    width: 100vw;
    position: fixed;
    transition: all ease 0.3s;
    .mobile-navbar {
      width: 100vw;
      height: 100%;
      background-color: rgb(4, 0, 36);
      transition: all ease 0.3s;
      ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        li {
          font-size: 1.5rem;
          margin-bottom: 3rem;
        }
        svg {
          height: 32px;
          width: 32px;
        }
      }
    }
  }

  .nav--hidden {
    transform: translateY(-20rem);
    box-shadow: none;
    transition: all ease 1s;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    h1 {
      font-size: 1.5rem;
    }

    .eth-logo {
      display: block;
      height: 50px;
    }
    .hamburger-menu {
      display: block;
      margin-right: 1rem;
    }
    .x-menu {
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 1170px) {
  main {
    margin-left: 0;
  }
  header {
    margin-top: 10%;
  }
  .crypto-grid {
    grid-template-columns: (1fr 1fr);
    justify-content: center;
    row-gap: 3rem;
  }

  .nav--hidden {
    transform: translateY(-20rem);
    box-shadow: none;
    transition: all ease 1s;
  }
}

@media only screen and (max-width: 845px) {
  .global-stat {
    text-align: center;
    margin-left: 0;
  }
  .coin-overview {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .top-coins {
    text-align: center;
    margin-left: 0;
  }
  main {
    margin-left: 0;
  }
  header {
    margin-top: 30%;
  }
  .crypto-grid {
    grid-template-columns: (1fr);
    justify-content: center;
    row-gap: 5rem;
  }

  .sidebar {
    .mobile-navbar {
      ul {
        text-align: left;
        li {
          font-size: 1.2rem;
          margin: 1rem;
        }
        // svg {
        //   height: 32px;
        //   width: 32px;
        // }
      }
    }
  }

  .no-scroll--hidden {
    overflow: hidden;
  }

  .nav--hidden {
    transform: translateY(-20rem);
    box-shadow: none;
    transition: all ease 1s;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    h1 {
      font-size: 1.5rem;
    }
  }
}

//cryptocurrencies.html

.crypto-search {
  div {
    background-color: aqua;
  }
}
