@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(240, 239, 239);
}

header {
  margin-left: 20%;
}

.global-stat {
  position: relative;
  top: 3rem;
  margin-left: 3rem;
  padding: 1rem;
  font-weight: 400;
}

.coin-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  text-align: left;
  padding: 3rem;
}

.coin-overview div {
  padding: 1rem;
}

.coin-overview h3 {
  font-weight: 400;
  color: grey;
  margin-bottom: 1rem;
}

.coin-overview h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  /* position: fixed; */
  background-color: rgb(4, 0, 36);
}

.logo {
  width: 100%;
  height: 8rem;
  background-color: rgb(4, 0, 36);
}

.logo h1 {
  text-align: center;
  position: relative;
  top: 25%;
  color: #ffffff;
  font-size: 2.2em;
}

ul {
  display: flex;
  flex-direction: column;
}

svg {
  margin-left: 1rem;
  margin-right: 1.5rem;
  position: relative;
  top: 0.5rem;
}

li {
  color: white;
  font-size: 1.2rem;
  line-height: 2.5;
  margin: 1rem;
  margin-left: 0;
  text-decoration: none;
  list-style-type: none;
  width: 90%;
  transition: all ease 0.4s;
}

li:hover {
  transform: scale(1.05);
  background-color: rgb(54, 134, 253);
  cursor: pointer;
}

main {
  margin-left: 20%;
  background-color: rgb(240, 239, 239);
}

.crypto-grid {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  row-gap: 10rem;
  grid-template-columns: repeat(5, 1fr);
}

.button {
  display: flex;
  margin: 5rem;
}

.show-more {
  outline: none;
  text-decoration: none;
  padding: 10px 24px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  transition: all ease 0.2s;
}

.show-more:hover {
  transform: scale(1.03);
  background-color: rgba(4, 0, 36, 0.781);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 2350px) {
  .crypto-grid {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 1900px) {
  .crypto-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: 3rem;
  }
  .button {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 1420px) {
  header {
    margin-left: 0;
  }
  main {
    margin-left: 0;
  }
  .global-stat {
    margin-left: 3rem;
  }
  .crypto-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: 3rem;
  }
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 1170px) {
  main {
    margin-left: 0;
  }
  .global-stat {
    margin-left: 3rem;
  }
  .crypto-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 3rem;
  }
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 845px) {
  header h1 {
    text-align: center;
  }
  .coin-overview {
    grid-template-columns: 1fr;
    text-align: center;
  }
  main {
    margin-left: 0;
  }
  .crypto-grid {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    row-gap: 1rem;
  }
  .sidebar {
    display: none;
  }
}

.crypto-grid div {
  width: 21rem;
  height: 18rem;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;
  border-radius: 5px;
  /* box-shadow: 3px 5px 10px 2px #ebe9e9; */
  padding: 1rem;
}

.crypto-grid h3 {
  font-weight: 400;
  position: relative;
  padding: 5%;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.crypto-grid img {
  height: 3rem;
  position: relative;
  top: -22%;
  float: right;
}

.crypto-grid p {
  padding: 1rem;
  position: relative;
  top: 10%;
  font-size: 1rem;
}
